section {
    margin-block-end: 1em;
}

.cover img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}
div.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, min(calc((100% - 6px) / 3), 158px)));
    column-gap: 3px;
    row-gap: 3px;
}
div.gallery a {
    display: block;
}
div.gallery img {
    display: block;
    margin: 0;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

div.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    column-gap: 5px;
    row-gap: 10px;
}
div.menu figure {
    display: block;
    width: auto;
    margin: 0;
}
div.menu figure img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}
div.menu a {
    text-decoration: none;
}

.hidden {
    display: none;
}

/* https://loading.io/css/ */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid WindowText;
  border-color: WindowText transparent WindowText transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}